h1 {
	color: red;
	text-align: center;
	font-family: arial, cursive;
}

h3 {
	font-family: arial;
	font-size: 25px;
}

img {
	width: 1340px;
	height: 500px;
}

p {
	color: dodgerblue;
	font-family: sans-serif;
	font-size: 20px;
	text-align: justify;
}

strong {
	text-decoration: underline;
	font-size: 20px;
	font-family: arial;
}

i {
	text-decoration: underline;
	font-size: 20px;
	font-family: arial;
}

